- if controller_name != 'sessions'
  = link_to t('devise.sessions.link'), new_session_path(resource_name)
  %br
%div{:style=>"color:red; font-weight:bold;"}
  = "Don't have an account? "
  = link_to h('sign up'), new_user_path,:style=>"color:red; text-decoration:underline;"
  = " in less than a minute"

%br

- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to t('devise.passwords.link'), new_password_path(resource_name)
  %br

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to t('devise.confirmations.link'), new_confirmation_path(resource_name)
  %br

- if devise_mapping.lockable? && controller_name != 'unlocks'
  = link_to t('devise.unlocks.link'), new_unlock_path(resource_name)
  %br
